@import "header.scss";
@import "footer.scss";
@import "elements.scss";
@import "modal.scss";

@font-face {
  font-family: Inter;
  src: url("../font/Inter-Regular.woff2") format("woff2");
}

*{
  font-family: Inter, Roboto, Arial, sans-serif;
}