<footer class="footer">
  <div class="footer__container">
    <div>
      <a href="https://rs.school/" class="footer__rs-logo">
        <img src="../assets/img/rs_school.svg" alt="rs logo">
      </a>
    </div>
    <div class="footer__title">
      <a href="/">Online Store 2022</a>
    </div>
    <div class="footer__github">
      <span class="footer__join-us"></span>
      <span class="footer__creators">
        <a href="https://github.com/greiner94" class="footer__contributor">@greiner94</a>
        <span class="footer__github-logo">
          <img src="../assets/img/github-logo.svg" alt="github logo">
        </span>
        <a href="https://github.com/dairinka" class="footer__contributor">@dairinka</a>
      </span>
    </div>
  </div>
</footer>