<header class="header">
    <h1 class="shop-name">Online Store</h1>
    <form class="search-form">
      <input type="text" placeholder="I'm searching..." class="search-form__input">
      <button type="submit" class="search-form__btn">Search</button>
    </form>
    <div class="cart-total">
      <span class="cart-total__title">Cart Total:</span>
      <span class="cart-total__sum money">0</span>
    </div>
    <div class="cart">
      <span class="cart__img"></span>
      <span class="cart__amount">0</span>
    </div>
  </header>